.profile-container {
  display: flex;
  height: 100vh;
  position: relative;
  background-color: #f0f8ff;
}

.sidebar-small {
  
  top: 20px;
  left: 20px; 
  width: 225px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.164);
  list-style-type: none;
  height:fit-content;
  margin-left: 50px;
}

.sidebar-small li {
  padding: 10px 0;
  text-align: left;
  cursor: pointer;
  font-size: 20px;
}

.sidebar-small li:hover {
  color: #22668E;
  filter: brightness(0.8); /* Làm tối màu bằng cách giảm độ sáng */
  font-size: 25px;

}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f0f8ff;
}

.account-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  color: #5F686E;
}

.personal-info {
  background-color: #ffffff;
  border-radius: 8px;
  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 50px;
}

/* Header with Avatar and Edit Button */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(34, 102, 142);
  border-top-left-radius: 10px;  /* Bo góc ở phía trên bên trái */
  border-top-right-radius: 10px; /* Bo góc ở phía trên bên phải */
  
}

.avatar-section {
  display: flex;
  align-items: center;
  background-color: #22668E;
  padding: 20px;
  border-radius: 8px;
  color: white;
}

/* Avatar Circle */
.avatar-circle {
  width: 80px;
  height: 80px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 20px;
}

.edit-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #22668E;
  color: white;
}

/* Info Section */
.info {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.info-item {
  margin-bottom: 15px;
  padding: 0px 20px;
}

.label {
  display: block;
  font-weight: bold;
  color: #666;
  margin-bottom: 5px;
}

.value {
  display: block;
  color: #333;
  font-size: 16px;
}
hr{
  margin: 0px 20px;
}
input {
  width: calc(100% - 10px); /* Giảm chiều rộng bên phải đi 10px */
  box-sizing: border-box;    /* Đảm bảo padding và border được tính trong width */
}

