/* src/components/DatLichKham.css */

/* Toàn cục */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(179, 227, 253);
}

/* Header */
.header {
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    background-color: rgb(45, 102, 145);
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}

.nav-list li a:hover {
    background-color: rgb(9, 106, 181);
    border-radius: 5px;
}

.user-icon {
    font-size: 24px;
    cursor: pointer;
}

.breadcrumb {
    text-align: right;
    padding: 10px 65px;
    font-size: 14px;
    color: #333;
}

/* Main Content */
.main {
    padding: 20px 65px;
    text-align: center;
}

.main-title, .section-title {
    padding-left: 55px;
    text-align: left;
    margin-bottom: 20px;
    color: #3740be;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-icon {
    font-size: 24px;
    color: #555;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.3s;
}

.search-icon:hover {
    color: #000;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

table {
    border-collapse: collapse;
    width: 90%;
}

th, td {
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
}

th {
    background-color: rgb(9, 106, 181);
}

td {
    background-color: rgb(255, 255, 255);
}

.thongtin_benhnhan {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 85%;
    padding: 30px;
    border: 1px solid black;
    margin: 20px auto;
}

.form-group-b, .form-group-a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
    flex-basis: 40%; /* Điều chỉnh độ rộng của label */
    text-align: left; /* Căn trái cho text trong label */
}

input, select {
    flex-basis: 60%; /* Điều chỉnh độ rộng của input và select */
}

button {
    background-color: #929ad4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.button_dangky {
    display: flex;
    justify-content: center;
    gap: 30px;
}

button:hover {
    background-color: #082b93;
}

.datlich-main {
    background-color: rgb(200, 200, 239);
}
