/* src/components/DatLichKham.css */
/* Header */

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

/* Main Content */
.main {
  padding: 20px 65px;
  text-align: center;
}

.main-title {
  text-align: left;
  margin: 0;
  color: #22668e;
}

/* Chọn lịch khám */
.choice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}

.choice .form-group {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  padding-top: 10px;
}

.choice .form-group label {
  margin-bottom: 5px;
  font-weight: bold; /* Đổi chữ thành đậm */
  font-size: 16px; /* Kích thước chữ cho nhãn */
}

.form-group select {
  /* Bao gồm textarea để đồng nhất font */
  padding: 0.5rem 3rem;
  border: 1px solid #000;
  border-radius: 1rem;
  font-size: 16px; /* Kích thước chữ cho các trường nhập liệu */
  background-color: transparent;
  transition: border 0.3s;
}

.form-group select:focus {
  border: 1px solid #3740be; /* Đổi màu viền khi focus */
  outline: none;
}

/* Biểu tượng tìm kiếm */
.search-icon {
  font-size: 24px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s;
  margin-top: 2rem;
}

.search-icon:hover {
  color: #000;
}

/* Bảng lịch */
.schedule-table {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #000;
  padding: 20px;
  text-align: center;
}

th {
  background-color: #83adc7;

  color: white; /* Đổi màu chữ cho tiêu đề bảng */
}

td {
  background-color: rgb(255, 255, 255);
}

/* Thông tin bệnh nhân */
.patient-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 80%; /* Giảm chiều rộng để form gọn hơn */
}

.patient-info h3 {
  text-align: center;
  color: #22668e;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

/* Nút bấm */
.button-container {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
}

.register-btn,
.cancel-btn {
  background-color: #20668e;
  color: white;
  border: none;
  padding: 10px 20px;

  font-size: 16px;
  cursor: pointer;
  border-radius: 2rem;
  transition: background-color 0.3s;
  margin: 0 10px; /* Khoảng cách giữa các nút */
}

.register-btn:hover,
.cancel-btn:hover {
  background-color: #1b86c5; /* Đổi màu nền khi hover */
}

/* Đặt lịch chính */
.datlich-main {
  background-color: #e3f6ff;
  padding: 2rem 7rem; /* Thêm padding cho phần này */
}

.schedule-table td {
  cursor: pointer; /* Đổi con trỏ chuột thành pointer khi hover */
  transition: background-color 0.3s; /* Thêm hiệu ứng chuyển đổi màu nền */
}

.schedule-table td:hover {
  background-color: #f0f0f0; /* Màu nền khi hover */
}

.form-datkham {
  display: flex;
  padding: 2rem 5rem;
}
.form-datkham .form-datkham-trai {
  flex: 2;
}
.form-datkham .form-datkham-phai {
  flex: 1;
}

.form-child {
  display: flex;
}
.form-child h5 {
  margin-right: 0.5rem;
  font-weight: 400;
  font-size: 17px;
}

.form-child .noidung {
  font-weight: 800;
  color: #22668e;
}

.form-child textarea {
  resize: none;
  width: 5rem; /* Tùy chỉnh kích thước */
  height: 4rem; /* Tùy chỉnh kích thước */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
