.outer-container {
    max-width: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f0f8ff;
  }
  
  .form-title {
    color: #22668E;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
    margin-left: 110px;
  }
  
  .form-container {
    width: -webkit-fill-available;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin:0px 110px;
  }
  
  .form-group {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-items: center;
  }
  
  label {
    flex: 1;
    font-weight: bold;
  }
  
  input, textarea {
    
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .button-group {
    display: flex;              
    justify-content: flex-end;   
    gap: 10px;                  
    margin-top: 15px;            
    flex-wrap: nowrap;            
  }
  
  
  .submit-button {
    padding: 5px 10px;
    background-color: #22668E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .note {
    font-size: 16px;
  }
  
  .note .note-warning {
    color: red;
    font-weight: bold;
  }
  
  .note .note-content {
    color: black;
    font-weight: bold;
  }
  
  
  select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  /* Khung hiển thị thông tin mặc định */
.info-display {
  border: 2px solid #000000;  /* Viền xung quanh */
  padding: 5px;            /* Khoảng cách bên trong */
  border-radius: 4px;      /* Bo góc viền */
  margin-bottom: 10px;     /* Khoảng cách giữa các trường */
  min-height: 20px;        /* Chiều cao mặc định khi không có dữ liệu là 20px */
  width: 290px;            /* Chiều rộng cố định là 300px */
  white-space: pre-wrap;   /* Hiển thị xuống dòng khi có quá nhiều nội dung */
  overflow-wrap: break-word; /* Tự ngắt từ nếu quá dài */
  font-weight: bold;       /* Làm chữ đậm hơn */
}

/* Khung hiển thị rộng hơn (cho các trường đặc biệt) */
.info-display-wide {
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;      
  width: 1000px;            
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-weight: bold;
}

/* Đảm bảo rằng nhóm trường đặc biệt nằm chung với nhau */
.wide-group {
  margin-top: 20px;
}
.normal {
  min-height: 20px; 
}

.wide {
  min-height: 40px;
}
.bold-text {
  font-weight: bold;
}

