.home-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .video-container {
    text-align: center;
    
    margin-bottom: 20px;
  }
  
  .video-container video {
    width: 80%;
    height: auto;
  }
  
  .news-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
  }
  
  .news-slider .slide {
    display: flex;
    overflow: hidden; /* Hide overflow */
  }
  
  .news-slider img {
    width: 350px; /* Width of each image */
    height: 300px; /* Height of each image */
    margin: 30px 30px; /* Space between images */
    transition: transform 0.5s ease-in-out; /* Smooth transition */
  }
  
  .news-slider img:hover {
    transform: scale(1.1); /* Phóng to hình ảnh khi hover */
}

  
  .slider-button {
    padding: 10px;
    background-color: #8e99a8;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 10px; /* Space between buttons */
    font-size: 18px; /* Size of the arrow */
  }
  
  /* Add hover effect for buttons */
  .slider-button:hover {
    background-color: #0c5773;
  }
  
  
  
  .text-section {
    background-color: #ADD8E6;
    padding: 20px 100px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  .doctor{
    text-align: center;
    padding: 30px 0px;
  }
  .doctor-team {
    display: flex;
    justify-content:center;
    gap:60px;
   
    margin-bottom: 20px;
   
    
  }
  
  .doctor-team img {
    width: 350px;
    height: auto;
    border-radius: 10px;
  }
  .doctor-buttons {
    display: flex;
    justify-content: center; /* Căn giữa các nút */
    margin-top: 20px; /* Khoảng cách giữa ảnh bác sĩ và các nút */
  }
  
  .doctor-buttons button {
    padding: 15px 25px;
    margin: 0 10px; /* Khoảng cách giữa các nút */
    background-color: #7c99c1; /* Màu nền */
    color: white; /* Màu chữ */
    border: none; /* Không viền */
    border-radius: 5px; /* Bo góc */
    cursor: pointer; /* Hiệu ứng con trỏ */
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
  }
  
  .doctor-buttons button:hover {
    background-color: #104172; /* Màu khi hover */
  }
  

  
  .hotline-section {
    text-align: center;
    padding:30px 0px;
    margin-bottom: 20px;
    background-color: rgb(185, 205, 213);
  }
  
  .hotline-section button {
    padding: 10px 20px;
    background-color: #0e4d80;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .feedback-section {
    background-color: #ffffff;
    padding: 20px;
    color: #033d58;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .feedback-section input, 
  .feedback-section textarea {
    width: 100%;
    padding: 10px;
    background-color: rgb(71, 150, 210); /* Hoặc một màu nền khác */
    border: 1px solid #ccc; 
    border-radius: 10px; 
    color: white; /* Màu chữ trắng */
  }
  
  .feedback-section button {
    padding: 10px 15px;
    background-color: #13619d;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  
  
  footer {
    display: flex;
    justify-content: center;
    background-color: #033d58;
    gap:600px;
    color: white;
    padding: 20px;
  }
  
  footer h4 {
    margin-bottom: 10px;
  }
  
  footer p {
    margin: 0;
    line-height: 1.6;
  }
  
  